@{
    ViewBag.Title = "AdminView";
}

<h2>AdminView</h2>

<br></br>
<p>
    @Html.ActionLink("CRUD Products", "CrudProducts")
</p>

<br></br>
<p>
    @Html.ActionLink("CRUD Users", "CrudUsers")
</p>

